* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.parent {
  background-color: #23424a;
  margin: 0 auto;
  width: 80%;
  padding: 50px;
}

.child {
  background-color: #38cfd9;
  color: #fff;
  /* height: 250px; */
  width: 50%;
  padding: 1.2rem;
}
